*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: #f5f7f8;
}

img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

/*CSS Styling for navbar.js*/
.navbar-main {
  background: #fff;
  height: 60px;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0px;
  width: 100%;
  padding-right: 8%;
  padding-left: 8%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
}

.navbar-main .navbar-inner{
  margin: auto;
  display: block;
  position: relative;
  width: 100%;
}

.navbar-main .navbar-inner .navbar-logo{
  display: block;
  width: auto;
  float: left;
  padding: 15px 15px 15px 0px;
}

.navbar-main .navbar-inner .navbar-logo img{
  width: 117px;
}

.navbar-main .navbar-inner .navbar-buttons{
  display: block;
  float: right;
}

.navbar-main .navbar-inner .navbar-buttons ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navbar-main .navbar-inner .navbar-buttons ul li{
  float: left;
  margin: 8px;
}

.navbar-main .navbar-inner .navbar-buttons ul li:first-child a{
  background: #004fc1;
  color: #fff;
}

.navbar-main .navbar-inner .navbar-buttons ul li:first-child a:hover{
  background: #fff;
  color: #004fc1;
  transition: .2s;
}

.navbar-main .navbar-inner .navbar-buttons ul li:not(:first-child) a:hover{
  background: #004fc1;
  color: #fff;
  transition: .2s;
}

.navbar-main .navbar-inner .navbar-buttons ul li a{
  display: inline-block;
  border-radius: 4px;
  border: .5px solid #004fc1;
  font-size: 14px;
  text-align: center;
  padding: 9px 15px;
  transition: .2s;
  vertical-align: baseline;
  text-decoration: none;
}

/*CSS Styling for profile.js*/
.profile-main{
  margin-right: auto;
  margin-left: auto;
  height: 224px;
  background: #f5f7fB;
  text-align: center;
  width: 100%;
  padding-right: 8%;
  padding-left: 8%;
}

.profile-main .profile-content{
  margin-top: 20px;
  background: #fff;
  height: 200px;
  width: 100%;
  display: block; 
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
  padding: 0px;
}

.profile-main .profile-content .profile-photo{
  height: 100%;
  margin: auto;
  display: block;
  float: left;
  width: 18%;
}

.profile-main .profile-content .profile-photo img{
  height: 100%;
  float: left;
  width: 100%;
}

.profile-main .profile-content .profile-det{
  height: 100%;
  display: block;
  float: right;
  width: 82%;
  padding: 0;
  margin: 0;
}

.profile-main .profile-content .profile-det .profile-inner-det{
  display: block;
  height: 154px;
  margin-top: 0px;
}

.profile-main .profile-content .profile-det .profile-footer{
  display: block;
  height: 46px;
}

.profile-det .profile-inner-det .profile-inner-content{
  display: block;
  height: 85px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-det .profile-inner-det .profile-skill{
  display: block;
  height: 69px;
} 

.profile-inner-content .profile-title{
  display: block;
  height: 45px;
  text-align: left; 
}

.profile-inner-content .profile-title h1{
  height: 24px;
  font-size: 24px;
  color: #2b2e34;
  font-weight: 600;
  float: left;
  margin: 16px 0px 5px;
}

h1 span{
  margin-left: 8px;
}

h1 span img{
  width: 18px;
  height: 18px;
}

.profile-inner-content .profile-desig{
  margin: 0px;
  padding: 0px;
  display: block;
}

.profile-inner-content .profile-desig h4{
  font-size: 14px;
  color: #393e48;
  font-weight: 600;
  margin: 0px 0px;
  display: block;
  float: left;
  padding-top: 3px;
}

.profile-inner-content .profile-desig p{
  display: block;
  font-size: 12px;
  color: #393e48;
  margin: 0px 0px;
  font-weight: 500;
  float: left;
  padding-top: 3px;
}

.profile-inner-det .profile-skill{
  display: block;
  margin: 0px;
  padding: 0px;
}

.profile-inner-det .profile-skill .blockchain-verfied{
  float: right;
  margin-right: 10px;
}

.profile-inner-det .profile-skill .blockchain-verfied img{
  width: 52px;
}

.profile-inner-det .profile-skill .blockchain-verfied p {
  margin-top: 0px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #004fc1;
}

.profile-det .profile-footer{
  display: block;
  padding-left: 15px;
}

.profile-det .profile-footer .url-link{
  float: left;
  color: #808080;
  font-size: 14px;
  font-weight: 600;
}

.profile-det .profile-footer .copy-link-img{
  float: left;
  padding-top: 18px;
  padding-left: 5px;
}

.profile-det .profile-footer .copy-link-img img{
  height: 14px;
  width: 14px;
}

/* CSS styling for experience.js */
.exp-endorse-bar{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  height: 94px;
}

.exp-endorse-bar .exp-endorse-content{
  display: block;
  background: #fff;
  height: 94px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 22px;
}

.exp-endorse-bar .exp-endorse-content .btn-panel{
  display: block;
  float: left;
  height: 38px;
  margin-top: 6px;
}

.app-btn{
  display: block;
  float: left;
  font-size: 14px;
  border: 1px solid #004FC1;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 22px;
}

.btn-panel .endorse-btn{
  color: #004FC1;
}

.btn-panel .verify-exp-btn{
  color: #fff;
  background: #004FC1;
}